.header {
    background-color: darksalmon;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.logo {
    width: 100px;
}

body {
    background-color: #FEDCD5;
}

.price-section {
    padding-top: 2%;
    text-align: center;
}

.price-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin: 0 auto;
    width: 100%;
}

.rectangle {
    padding: 2%;
    width: 400px;
    height: 650px;
    background-color: pink;
    display: inline-block;
    vertical-align: center;
    margin: 0 10px;
}
.small-rectangle {
    padding-top: 2%;
    width: 300px;
    height: 270px;
    background-color: pink;
    display: inline-block;
    margin: 0 10px;
}

.bottom {
    text-align: center;
}

.long-rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    height: 350px;
    width: 100%;
}

.price-text {
    padding: 3px;
    font-size: 18px;
}

h5 {
    font-size: 80px;
    color: #FEDCD5;
    -webkit-text-stroke: 2px black;
}

.bottom-link {
    text-align: left;
    padding-left: 10px;
}