h2 {
    padding: 4%;
    font-size: 20px;
    text-align: justify;
}

h3 {
    padding: 4%;
    font-size: 25px;
    text-align: left;
    font-weight: bold;
}

h4 {
    padding: 2%;
    text-align: center;
}

h5 {
    font-size: 80px;
    color: #FEDCD5;
    -webkit-text-stroke: 2px black;
}

h6 {
    color: #520B41;
    font-weight: bold;
    text-decoration: underline;
    padding: 4%;
    font-size: 35px;
    text-align: left;
}

p {
    font-size: 50px;
    color: black;
    -webkit-text-stroke: 1px white;
}

.title {
    text-align: center;
}

.price-text {
    padding: 3px;
    font-size: 18px;
}

.price-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin: 0 auto;
    width: 100%;
}

.price-section {
    padding-top: 2%;
    text-align: center;
}

.navbar {
    background-color: darksalmon;
    margin: 0 auto;
    max-width: 100%;
}

.navbar-brand img {
    width: 100px;
}

.header {
    background-color: darksalmon;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.logo {
    width: 100px;
}

body {
    background-color: #FEDCD5;
}

.container {
    text-align: center;
    align-items: center;
}

.month-name {
    text-align: center;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
}

.big-pic {
    max-width: 100%;
    margin: 0 auto;
    opacity: 80%;
}

.home-section {
    padding-top: 5%;
    text-align: center;
}

.rectangle img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.rectangle {
    width: 460px;
    height: 600px;
    background-color: hotpink;
    display: inline-block;
    margin: 0 auto 10px;
    vertical-align: center;
    border-radius: 10px;
}

.cennik {
    background-color: pink;
}

.long-rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    height: 350px;
    width: 100%;
}

.small-rectangle {
    padding-top: 2%;
    width: 300px;
    height: 270px;
    background-color: pink;
    display: inline-block;
    margin: 0 10px;
}

.bottom-title {
    text-align: center;
}

.gallery {
    background-color: hotpink;
}

.gallery img {
    border-radius: 5%;
}

.bottom {
    text-align: center;
}

.bottom-link {
    text-align: left;
    padding-left: 10px;
}

.icon-holder {
    width: 100%;
    text-align: center;
    background-color: pink;
}
.icon-link {
    text-decoration-color: hotpink;
    color: hotpink;
}

.feature-col {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-right: 20px;
}

.box {
    display: flex;
    margin: 0 auto;
}

.button-pink {
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: hotpink;
    font-size: 20px;
    width: 200px;
    height: 50px;
}

.feature-icon {
    border-radius: 10px;
    height: 70px;
    width: 70px;
    display: flex;
    margin: 0 auto;
}

.table {
    width: 600px;
    max-width: 100%;
    margin: 0 auto 1rem;
    background-color: transparent;
}

.table .thead-date th {
    background-color: darksalmon;
    border: 4px solid #FEDCD5;
    border-radius: 10px;
    padding: 10px;
}

th {
    text-align: center;
}

.table td {
    background-color: #DDBDB7;
    border: 4px solid #FEDCD5;
    border-radius: 10px;
    padding: 10px;
}

td {
    text-align: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts {
    border: 2px solid darksalmon;
    border-radius: 25px;
    text-align: center;
    width: 600px;
    max-width: 100%;
    margin: 0 auto 1rem;
}